<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <%# <meta name="viewport" content="width=device-width, initial-scale=1"> %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%# <script type="text/javascript" src="js/enchant.js"></script> %>
  <script type="text/javascript" src="js/game2enchant.js"></script>

  <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }
  </style>

  <title><%= @title %></title>
  <%# <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css"> %>
  <%# <link rel="icon" href="img/favicon.ico"> %>
</head>
<body>

  <div class="container">

  <header>
    <img id="inu-icon-game2" src="img/inu.png">
    <a id="hidden-message-to-game1" href="/game1">A Bear Story Ⅰ</a>
      
    <div class="header-container">
      <div class="info">
        <%# <h1>Game2です</h1> %>
        <h1>A Bear Story Ⅱ</h1>
        <p>Apples of the bear's eye</p>
        <a href="" class="btn">ダウンロード</a>
      </div>
      <div class="header-pic-container">
        <img class="header-pic" src="img/game2.png">
      </div>
    </div>
  </header>

  <div class="game-main">
    <div id="enchant-stage"></div>
  </div>

  <div class="cat">
    <a href="/"><img class="cat-icon" src="img/cat.png"></a>
  </div>

  </div>

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="js/game2.js"></script>
</body>
</html>
