<header>
  <img id="inu-icon" src="img/inu.png">
  <%# <img id="inu-icon-backside" src="img/inu.png"> %>
  <p id="hidden-message">Thanks!</p>
  
  <div class="header-container">
    <div class="info">
      <h1>Sinatraで作る個人アプリ</h1>
      <p>TECHCAMP::2020</p>
      <a href="" class="btn">ダウンロード</a>
    </div>
    <div class="header-pic-container">
      <img class="header-pic" src="img/index.jpg">
      <%# <img class="inu-hide" src="img/inu.png"> %>
      <%# </div><img id="inu-hide" src="img/inu.png"></div> %>
    <div>
  </div>
</header>

<section class="features">
    <h1>enchant.jsで作るミニゲーム</h1>

    <div class="container">

      <section>
        <div class="game-pic">
          <a href="/game1"><img src="img/game1.jpeg"></a>
        </div>
        <div class="game-info">
          <h1>A Bear Story Ⅰ</h1>
          <p>作品紹介。使用言語。とにかくすごい。とにかくすごい。とにかくすごい。とにかくすごい。とにかくすごい。とにかくすごい。</p>
        </div>
      </section>

      <section>
        <div class="game-pic">
          <a href="/game2"><img src="img/game2.png"></a>
        </div>
        <div class="game-info">
          <h1>A Bear Story Ⅱ</h1>
          <p>作品紹介。使用言語。とにかくすごい。とにかくすごい。とにかくすごい。とにかくすごい。とにかくすごい。とにかくすごい。</p>
        </div>
      </section>

    </div>
</section>

<section class="members">
  <h1>自己紹介</h1>
    <ul>
      <li>
        <img src="img/inu.png">
        <h2>N-Tomomi</h2>
        <p>がんばります。がんばります。がんばります。</p>
      </li>
    </ul>
</section>

<section class="call-to-action">
  <h1>お問い合わせ</h1>
  <a href="" class="btn">ダウンロード</a>
</section>

<footer>
  <small>Copyright(C) N-Tomomi ALL RIGHTS RESERVED.   <img id="inu-icon-backside" src="img/inu.png"></small>
</footer>