<header>
  <img id="inu-icon" src="img/inu.png">
  <p id="hidden-message">Thanks!</p>
  
  <div class="header-container">
    <div class="info">
      <h1>Sinatraで作る個人アプリ</h1>
      <p>TECHCAMP::2020 <a href="https://twitter.com/@NTomomi5" class="twitterLink"><i class="fab fa-twitter" style="color:green;"></i></a></p>
      <a href="/info" class="btn">制作情報</a>
    </div>
    <div class="header-pic-container">
      <img class="header-pic" src="img/index.jpg">
    </div>
  </div>
</header>

<section class="features">
    <h1>enchant.jsで作るミニゲーム</h1>

    <div class="container">

      <section>
        <div class="game-pic">
          <a href="/game1"><img src="img/game1.jpeg"></a>
        </div>
        <div class="game-info">
          <h1>A Bear Story Ⅰ</h1>
          <p>隠れたりんごを集めるゲーム。</p>
          <p>Gather as many apples as possible!</p>
        </div>
      </section>

      <section>
        <div class="game-pic">
          <a href="/game2"><img src="img/game2.png"></a>
        </div>
        <div class="game-info">
          <h1>A Bear Story Ⅱ</h1>
          <p>The apple of the bear's eye</p>
          <p>開発途中</p>
        </div>
      </section>

    </div>
</section>

<section class="members">
  <h1>自己紹介</h1>
    <ul>
      <li>
        <img src="img/inu.png">
        <h2>N-Tomomi</h2>
        <p>2019年10月プログラミング独学開始</p>
        <p>2020年1月TECHCAMP（夜間）受講開始</p>
      </li>
    </ul>
</section>

<section class="call-to-action">
  <h1>いますぐダウンロードしよう</h1>
  <a href="" class="btn">ダウンロード</a>
</section>

<footer>
  <small>
  <a href="https://twitter.com/@NTomomi5" class="footer-link"><i class="fab fa-twitter fa-inverse"></i></a>
    Copyright(C) N-Tomomi ALL RIGHTS RESERVED.
  <a href="https://twitter.com/@NTomomi5" class="footer-link"><i class="fab fa-twitter fa-inverse"></i></a>
  </small>
</footer>