<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <script type="text/javascript" src="js/enchant.js"></script>
  <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }
  </style>

  <title><%= @title %></title>
</head>
<body>

  <div class="container">
  
  <header>
    
    <div class="header-container">
      <div class="info">
        <h1>TECHCAMP::個人アプリ製作</h1>
        <p>N-Tomomi</p>
      </div>
      <div class="header-pic-container">
        <img class="header-pic" src="img/info-pic.png">
      </div>
    </div>
  </header>

  <div class="main-info">
    <div class="main-info-contents">
     <h2>使用言語</h2>
     <p>Sinatra/enchant.js</P>
     <h2>利用技術</h2>
     <p>FontAwesome/favicon</P>
     <h2>実装を試みた技術</h2>
     <p>Firebaseによるdeploy: index.htmlを読み込む仕様でapp.rbは読み込めず</P>
     <p>仮置き</P>
    </div>
  <div>

  <div class="cat">
    <a href="/"><img class="cat-icon" src="img/cat.png"></a>
  </div>

</div>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</body>
</html>


