body {
  margin: 0;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: #333;
}

header {
  background: #f59a00;
  color: #fff;
  text-align: center;
  padding-top: 64px;
}

header h1,
header p {
  margin: 0;
}

header .header-pic {
  width: 320px;
  vertical-align: bottom;
}

header #inu-icon, #inu-icon-game1, #inu-icon-game2 {
  width: 55px;
  position: absolute;
  top: 5px;
  left: 10px;
  display: none;
  cursor: pointer;
}

.cat-icon {
  width: 55px;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  left: 10px;
}


header #hidden-message, #hidden-message-to-game2, #hidden-message-to-game1{
  position: absolute;
  top: 5px;
  left: 117px;
  display: none;
}

header #hidden-message-to-game2, #hidden-message-to-game1 {
  cursor: pointer;
  text-decoration: none;
  background: #fff;
  width: 100px;
  color: #f59a00;
  border-radius: 7px;
  font-size: 14px;
}

.btn {
  text-decoration: none;
  background: #fff;
  color: #f59a00;
  display: block;
  width: 140px;
  line-height: 44px;
  margin: 40px auto 48px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
}

.btn:hover {
  opacity: 0.9;
}


.features > h1 {
  text-align: center;
  padding: 64px 0;
  font-weight: normal;
}

.features .container {
  margin: 0 32px;
}

.features p {
  line-height: 1.8;
}

.features section {
  padding-bottom: 64px;
  text-align: center;
}

.members {
  background-color: rgb(243, 239, 239);
}

.members > h1 {
  text-align: center;
  padding: 64px 0;
  font-weight: normal;
}

.members ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.members img {
  width: 160px;
  border-radius: 50%;
}

.members h2 {
  font-size: 20px;
}

.members li {
  padding-bottom: 64px;
}

.call-to-action {
  background: #f59a00;
  color: #fff;
  text-align: center;
  padding: 64px 0;
}

.call-to-action h1 {
   font-weight: normal;
 }

.call-to-action .btn {
  margin: 0 auto;
}

footer {
  /* padding: 64px 0; */
  background-color: #323135;
  color: #98969c;
  text-align: center;
}

.footer-link {
  cursor: pointer;
  text-decoration: none;
  color: #98969c;
}

.fab {
  cursor: pointer;
  text-decoration: none;
  color: #98969c;
}

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #ef3f98;
  opacity: 0.9;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f106';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

@media (min-width: 900px) {
  .header-container {
    display: flex;
    width: 800px;
    margin: 0 auto;
  }

  .header-container .info {
    width: 60%;
    align-self: center;
  }

  .header-container .header-pic-container {
    width: 40%;
  }

  .features .container {
    width: 800px;
    margin: 0 auto;
  }

  .features section {
    display: flex;
    justify-content: space-between;
  }

  .features section:nth-child(even) {
    flex-direction: row-reverse;
  }

  .features .game-pic {
    width: 50%;
  }

  .features .game-info {
    width: calc(50% - 32px);
  }
}
